.homePageContainer {
  width: 100vw;
  /* height: 100vh; */

  /* background-image: url(./tulips-min.jpg); */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: left 70% top;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 1; */
}

.imgWrap {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.homePageImg {
  width: 100%;
}

.circle {
  position: relative;
  z-index: 2;
  /* left: 25%;
  top: 25%; */
  width: 450px;
  height: 450px;
  border-radius: 50%;
  /* background-color: #f7faff42; */
  background-color: white;
  box-shadow: 0px 6px 50px #f7faff42;
}
